@import url('https://fonts.googleapis.com/css?family=Exo|Michroma|Muli|Special+Elite&display=swap');

/* Google Fonts
font-family: 'Muli', sans-serif;
font-family: 'Exo', sans-serif;
font-family: 'Special Elite', cursive;
font-family: 'Michroma', sans-serif; */

.card {
  box-shadow: 0 6px 20px 0 rgb(0, 0, 0);
}

#CreatePostContent {
  padding: 20px;
}


.whatToPost {
  width: 500px;
  border: 10px solid red;;
  padding: 50px;
  margin: 30px;
  border-radius: 5px;
  font-family: 'Muli', sans-serif;
  font-size: 15px;

}

.postTitle {
  font-family: 'Michroma', sans-serif;
  font-size: 40px;
  color:red;
}

.postTitle img{
  height:60px;
}

.postText{
  font-size: 15px;
  font-family: 'Muli', sans-serif;
}
