@import url('https://fonts.googleapis.com/css?family=Exo|Michroma|Muli|Special+Elite&display=swap');

/* Google Fonts
font-family: 'Muli', sans-serif;
font-family: 'Exo', sans-serif;
font-family: 'Special Elite', cursive;
font-family: 'Michroma', sans-serif; */

.facts{
  border-style: solid;
  border-color:rgb(44, 104, 255);
  background: rgba(118, 158, 201, 0.714);
  font-size: 5px;
}
